<!-- 16 implement new page as view -->
@page "/genders"
@using MyFirstWebShop.Data.DTOs
@using MyFirstWebShop.Data.Services

@rendermode InteractiveAuto
@inject UnitOfWork uow // 18 inject (gets this from programm.cs and _imports.razor)

@if(genders == null)
{
    <p> ... loading</p>

} else {

    <table>
        <thead>
            <tr>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in genders)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                </tr>
            }
        </tbody>
    </table>

}


<h3>Genders</h3>

@code {
    List<GenderSelect>? genders;

    protected override async Task OnInitializedAsync()
    {

        genders = await uow.GenderService.GetGenderSelect();

    }




}
