<!-- 16 implement new page as view -->
@page "/genders"

@rendermode InteractiveAuto
@inject UnitOfWork uow // 18 inject (gets this from programm.cs and _imports.razor)




@if(genders == null) // 19 create display of data
{
    <p> ... loading</p>

} else {

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in genders)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                </tr>
            }
        </tbody>
    </table>

}



@code {
    List<GenderSelect>? genders;

    protected override async Task OnInitializedAsync()
    {

        genders = await uow.GenderService.GetGenderSelect();

    }




}
